body {margin: 0;}

.page {
	width: 60rem;
	margin-right: auto;
	margin-left: auto;
}

/*
 * Slider width: 18.75rem.
 * Slider height: 12.5rem.
 */
 .slider-wrapper {
 	position: relative;
	width: 18.75rem;
	height: 12.5rem;
	overflow: hidden; /* Hide each element overflowing the slider wrapper. */
 }
 
.slider {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.slider-wrapper-arrow {
	position: absolute;
	top: 50%;
	width: 1.563rem;
	height: 1.563rem;
	padding: 0;
	border: none;
	background: none;
	-webkit-transform: translateY(-50%);
	 		-ms-transform: translateY(-50%);
					transform: translateY(-50%);
}

.slider-wrapper-arrow--left {left: .625rem;}

.slider-wrapper-arrow--left::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: .938rem;
	height: .938rem;
	border-top: 1px solid #000;
	border-left: 1px solid #000;
	-webkit-transform: translate(-50%, -50%) rotate(-45deg);
	 		-ms-transform: translate(-50%, -50%) rotate(-45deg);
					transform: translate(-50%, -50%) rotate(-45deg);
}

.slider-wrapper-arrow--right {right: .625rem;}

.slider-wrapper-arrow--right::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: .938rem;
	height: .938rem;
	border-top: 1px solid #000;
	border-right: 1px solid #000;
	-webkit-transform: translate(-50%, -50%) rotate(45deg);
	 		-ms-transform: translate(-50%, -50%) rotate(45deg);
					transform: translate(-50%, -50%) rotate(45deg);
}

.slider-wrapper-arrow--hidden {display: none;}

.slider-wrapper-arrow:hover {cursor: pointer;}

.slider-items {
	display: none;
	width: 18.75rem;
	max-height: 12.5rem;
	line-height: 12.5rem;
	text-align: center;
	border: 1px solid #000;
	-webkit-box-sizing: border-box;
		 -moz-box-sizing: border-box;
					box-sizing: border-box;
}

.slider-items--visible {display: inline-block;}